.card {
  width: 15rem;
  border: 1px solid lightgray;
  border-radius: 10px;
  /* padding: 10px; */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;
  background-color: white;
  padding: 5px;
}

.card:hover {
  transform: translateY(-1%);
}

.product_image {
  position: relative;
  height: 12rem;
  width: 100%;
  /* border-bottom: 1px solid lightgray; */
  padding-bottom: 1rem;
  padding: 0 0 0.8rem 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card_title {
  position: relative;
}

.sale {
  background-color: black;
  position: absolute;
  bottom: 0.1rem;
  left: 0.2rem;
  color: white;
  font-size: 0.7rem;
  border-radius: 12px;
  padding: 0.3rem;
  /* z-index: 0; */
  box-shadow: 0 4px 8px rgba(1, 1, 1, 0.3);
}

.descriptionText {
  display: -webkit-box;
  max-width: 200px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 0.7rem;
  height: 30px;
  color: gray;
}

.card_content {
  padding: 10px;
}
