.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: linear-gradient(-45deg, #2c7d85, #003c43);
  height: 14rem;
  margin-top: 3rem;
  z-index: 2;
}

.logo {
  margin-top: 2rem;
}

.social {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.social p {
  color: whitesmoke;
  font-size: 1.1rem;
}

.social_links {
  display: flex;
  gap: 2rem;
  margin-top: 0.5rem;
}
.social_icon {
  width: 2rem;
  height: 2rem;
  margin-top: 0.5rem;
}

.categories p {
  color: lightgray;
}
.categories_title {
  font-size: 1.5rem;
  color: whitesmoke;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.subscribe {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.subscribe_title {
  color: whitesmoke;
  font-size: 1.5rem;
}

.subscribe_form {
  display: flex;
  gap: 0.5rem;
}
