.active {
  background-color: red;
}

.notifications {
  display: flex;
  width: auto;
}

.notification_bubble {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: orangered;
  color: white;
  height: 18px;
  width: 18px;
  font-size: 12px;
  border-radius: 50%;
  font-weight: 500;
  position: relative;
  left: -7px;
  top: -7px;
}

.nav_bar_list {
  display: none;
}

.menu_icon {
  display: none;
  cursor: pointer;
}

.menu_icon span {
  display: block;
  width: 25px;
  height: 3px;
  margin-bottom: 5px;
  background-color: #333;
}

.close_menu_icon {
  display: block;
  width: 50px;
  height: 30px;
  font-size: 25px;
  font-stretch: expanded;
  margin-bottom: 5px;
  color: #333;
  cursor: pointer;
}

.close_menu_icon:hover {
  color: #2c7d85;
}

.burger_menu_open {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  position: absolute;
  top: 8.5rem;
  left: 0;
  /* left: 8; */
  z-index: 4;
  width: 100%;
  height: 100vh;
  background-color: whitesmoke;
  padding: 2rem;
}

.nav_link {
  display: inline-block;
  width: fit-content;
  font-size: 1.2rem;
  padding: 0.3rem;
}

.burger_menu_close {
  display: none;
}

.logout_button_navbar {
  display: none;
}

@media screen and (max-width: 828px) {
  .nav_bar_list {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .logout_button_navbar {
    display: block;
  }
}

@media screen and (min-width: 572px) {
  .burger_menu_open {
    display: none;
  }
}

@media screen and (max-width: 572px) {
  .nav_bar_list {
    display: none;
  }

  .menu_icon {
    display: inline-block;
  }
}
