.detail_page{
  display: flex;
  justify-content: center;
}

.product_detail_page {
  width: 55%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.chats {
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: #f5f7f8;
  border-radius: 10px;
  padding: 10px;
  margin-top: 20px;
}

.chat_item {
  background-color: #54acb4;
  border-radius: 10px;
  padding: 5px;
  box-shadow: 3px 2px 4px rgba(0, 0, 0, 0.6);
  cursor: pointer;
}

.username {
  color: #f5f7f8;
}

.share {
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.image {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.tags_box {
  display: flex;
  gap: 1rem;
  margin: 0.6rem;
}

.tag{
  background-color: #54acb4;
  padding: 0 0.4rem;
  border-radius: 16px;
  color: white;
}

.detail_buttons{
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}
